@font-face {
    font-family: myfont;
    src: url(fonts/ar.ttf);
}
@font-face {
    font-family: myfontbold;
    src: url(fonts/ab.ttf);
}

p, a, label, legend{
        color: black;
        font-family: myfont;
}
legend{
    font-size: 26px;
    margin-bottom: 30px;
}
.pheader{
    font-size: 33px;
    margin-left: 40px;
    position: fixed;
    left: -1%;
    font-family: myfontbold;
}

.task{
    width: 60vw;
    min-width: 400px;
    max-width: 800px;
    border-radius:3px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin: 17px;
    margin-left: 0px;
    margin-right: 0px;
}
.ptasks{
    font-size: 30px;
    text-align: center;
}
.option:hover{
    background-color: rgb(189, 189, 192);
    cursor:pointer;
}
.project:hover{
    background-color: rgb(189, 189, 192);
    cursor:pointer;
}
.selectedtab{
    background-color: rgb(189, 189, 192);
}
.option a{
    margin-top: 3%;
    margin-left: 6px;
    font-size: 15px;
}
.option img{
    margin-top: 1.3%;
    height: 24px;
    width: 24px;
    margin-left: 10%;
}
.bar{
    width: 75%;
    height: 1px;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}
.header{
    font-size: 20px;
    margin-left: 10%;
    align-self: start;
    margin-bottom: 20px;
    font-weight: 700;
}
.addproj{
    background-color: rgb(218, 215, 215);
    border: none;
    font-size: 30px;
}
.addproj:hover{
    transform: scale(120%);
    transition-duration: 0.5s;
    cursor:pointer;
}
.submit:hover{
    cursor:pointer;
    background-color: chartreuse;
}
.invisible{
    display: none;
}
.form{
    display: flex;
    flex-direction: row;
}
.form input{
    width: 100px;
}
.cname{
    display: none;
    border-radius: 6px;
}

.visible{
    display: flex;
}

.submit{
    border: none;
    background-color: rgb(98, 197, 28);
    height: 35px;
    border-radius: 0px 5px 5px 0px;
}

#projname{
    font-family: myfont;
    all: unset;
    border: none;
    padding-left: 8px;
    background-color: white;
    font-size: 15px;
    width: 175px;
    border-radius: 5px 0px 0px 5px;
}
#projname:hover{
    outline: none;
}

.addtask:hover{
    cursor: pointer;
    transform: scale(110%);
}
.addtask{
    all:unset;
    font-weight: 550;
    font-size: 30px;
    text-align: center;
}

.optionpane{
    visibility: hidden;
    position: absolute;
    margin-top: 10vh;
    height: 450px;
    width: 350px;
    border-radius: 5px;
    background: rgba(239, 153, 33, 0.885);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, .3);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
    border: 1px solid rgb(3, 3, 3);
    display: flex;
    justify-content: center;
}
.active{
    visibility: visible;
}
.tinput{
    all: unset;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px  rgb(121, 120, 120);
}
#tinput1{
    text-align: center;
}
#tinput2{
    text-align:start;
    white-space: pre-line;
    overflow-wrap: break-word;
    padding: 2px;
}
#tinput3, #tinput4 {
    width: 110px;
    align-content: center;
    padding: 3px;
}

.tlabel{
    margin-bottom: 7px;
}
.addtasker, .back{
    width: 30px;
    height: 37px;
    border: none;
    font-size: 30px;
    box-shadow: 0px 1px 3px black;
    background-color: white;
    width: 60px;
    border-radius: 10px;
    margin-left: 5px;
}
.back{
    background-image: url("images/9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: red;
    background-size: 50%;
}
.addtasker{
    background-color: rgb(30, 212, 30);
}
#formdiv5{
    margin-bottom: 40px;
}
.addtasker:hover, .back:hover{
    box-shadow:  0px 1px 1px 1px rgb(24, 23, 23);
    cursor: pointer;
}